<div class="header-contents">
    <img src="assets/images/erekle-black-tie-500.png" alt="Erekle Roinishvili" class="rubber-image">

    <div class="erekle-name">Erekle Roinishvili</div>

    <div class="icons">
        <a href="https://stats.ioinformatics.org/people/7641"><img src="assets/images/icons/ioi-32.png" alt="Icon: IOI, Internation Olympiad in Informatics"></a>
        <a href="https://codeforces.com/profile/erekle"><img src="assets/images/icons/codeforces-32.png" alt="Icon: Codeforces, Competitive Programming Platform"></a>
        <a href="https://www.linkedin.com/in/erekle-roi/"><img src="assets/images/icons/linkedin-32.png" alt="Icon: LinkedIn"></a>
        <a href="https://github.com/erekleroinishvili"><img src="assets/images/icons/github.svg" alt="Icon: GitHub"></a>
    </div>
</div>
