@import 'typography';

html, body {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: $font-main;
}

a, a:visited, a:hover {
    color: unset;
}

// Angular Material
// html, body {
//     height: 100%;
// }
// erekle-root {
//     display: block;
// }
