:host {
    display: inline-grid;
    box-sizing: border-box;
    min-width: 100px;
    min-height: 8px;
    border-radius: 4px;
    overflow: hidden;
    // background-color: lightgrey;
}

div {
    box-sizing: border-box;
    transition: width 300ms;
    width: 0;
    // background-color: darkgray;
}
