:host {
    display: inline-block;
    // padding-inline-end: 8px; // Clickable area
    // margin-inline-end: 8px; // Non-clickable area
    &.clickable {
        cursor: pointer;
    }
}

img {
    display: block;
}

.expandable {
    transition: transform 300ms;
}

.expandable.expanded {
    transform: rotate(90deg);
}
