.content-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.content-wrapper {
    background-color: rgba(255, 255, 255, .7);
    display: grid;
    place-content: center;
    grid-template-columns: minmax(0, max-content);
}

.content {
    position: relative;
    max-width: 95vw;
    max-height: 95vh;
    box-sizing: border-box;
    box-shadow: 0 0 20px gray;
    min-width: 100px;
    min-height: 100px;
    display: grid;
    grid-template-columns: minmax(0, max-content);
    grid-template-rows: minmax(0, max-content);
    place-content: center;
    background-color: white;
    // overflow: hidden;
    // padding-block-start: 48px;
}

.close-button {
    position: absolute;
    top: -16px;
    right: -16px;
}
