@for (entry of label(); track entry) {
    @switch (entry.type) {
        @case ('text') {
            <span [innerHTML]="entry.label"></span>
        }
        @case ('image') {
            <erekle-image-link [src]="entry.url" [alt]="entry.alt ?? entry.label"><span [innerHTML]="entry.label"></span></erekle-image-link>
        }
        @default {
            <a [href]="entry.url" [innerHTML]="entry.label" [title]="'External link: ' + entry.label" (click)="$event.stopPropagation()"></a>
        }
    }
}
