<div class="event-header" [class.expanded]="expanded() && event().events?.length" [style.--level]="level()">

    <erekle-bullet [bullet]="bullet()" (action)="userExpanded.set($event)" />

    <div>
        @if (event().icon) {
            <erekle-icon [src]="event().icon!" [alt]="event().label | labelString" />
        }
    </div>

    <erekle-label [label]="event().label" />
    <erekle-range [event]="event()" />
</div>

<!-- Begin: Show minimum events -->
<erekle-accordion [expanded]="expanded()">
    @for (e of minEvents(); track e) {
        <erekle-cv-event [event]="e" [level]="level() + 1" />
    }
    @if ( showMoreButton() ) {
        <button mat-raised-button @retire color="primary" (click)="userExpanded.set('expanded-more')">
            <mat-icon>double_arrow</mat-icon>
            Show {{ moreEvents()!.length }} more
        </button>
    }
</erekle-accordion>
<!-- E N D: Show minimum events -->



<!-- Begin: Show more events -->
<erekle-accordion [expanded]="userExpanded()==='expanded-more'">
    @for (e of moreEvents(); track e) {
        <erekle-cv-event [event]="e" [level]="level() + 1" />
    }
</erekle-accordion>
<!-- E N D: Show more events -->
